.topnav {
    background-color: #77B2E0;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float: center;
}

/* .topnav li{
} */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #226496;  
    color: white;
}

body{
    background-color: #5F7381;
}

.blue_overline_text {
    color: blue;
    text-decoration: overline;
}

#red_underline_text {
    color: red;
    text-decoration: underline;
}