@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.topnav ul{
    list-style-type: none;
    display: flex;
    width: auto;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 1%;
}

.topnav li {
    margin: 0% 25px;
    padding: 0% 0%;
    align-self: center;
}

.topnav a {
    text-decoration: none;
    color:  #012A4A;
}

.topnav img{
    filter: invert(13%) sepia(75%) saturate(1235%) hue-rotate(177deg) brightness(90%) contrast(101%);
    width: 25px;
    height: 25px;
}

.topnav a:hover {
    font-weight: bold;
}

.topnav a.active {
    /* background-color: #486e90; */
    font-weight: bold;
}

header {
    /* display: flex; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

header img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border-color: #012A4A;
    border: 5px solid;
}

.horiz, .horiz p, .horiz a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:  #012A4A;
    margin: 0% 0%;
}

.horiz a{
    margin: 0% 1%;
}

.icon_button {
    background-color: #012A4A;
    border-radius: 50%;
    padding: 10px;
}

/* preserve aspect ratio of image */
.icon_button img {
    width: 40px;
    height: 40px;
    object-fit: scale-down;
    border-radius: 0%;
    border: 0px;
    /* filter svg inner color to #d2e9f1 */
    filter: invert(94%) sepia(12%) saturate(613%) hue-rotate(165deg) brightness(99%) contrast(91%);
}

main{
    margin: 0%;
    padding: 0% 0%;
}

.portfolio-right {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 2% 0%;
    margin: 0px 10px;
}

.portfolio-right img {
    object-fit: cover;
    width: 20%;
    height: 40%;
    border-radius: 50%;
    margin-right: 1%;
}

.portfolio-right ul{
    margin-left: auto;
}

/* align list items to left within ul */
.portfolio-right li {
    text-align: left;
}

.portfolio-left {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 2% 0%;
    margin: 0px 10px;
}

.portfolio-left img {
    object-fit: cover;
    width: 20%;
    height: 40%;
    border-radius: 50%;
    margin-right: 1%;
}

/* align list items to left within ul */
.portfolio-left li {
    text-align: left;
}

body{
    /* background-color: #13293D; */
    background-color: #d2e9f1;
    text-align: center;
    color:  #012A4A;
    font-size: large;
    font-family: "Roboto";
}
/* https://coolors.co/palette/3e92cc-2a628f-13293d-16324f-18435a */
/* https://coolors.co/palette/012a4a-013a63-01497c-014f86-2a6f97-2c7da0-468faf-61a5c2-89c2d9-a9d6e5 */
/* https://mdigi.tools/color-shades/#a9d6e5 */